@import "tailwindcss";

/* Plus Jakarta Sans */
@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/plus-jakarta-sans-v12-latin-regular.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/plus-jakarta-sans-v12-latin-500.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/plus-jakarta-sans-v12-latin-600.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/plus-jakarta-sans-v12-latin-700.woff2') format('woff2'); 
}

@font-face {
  font-display: swap; 
  font-family: 'Plus Jakarta Sans';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/plus-jakarta-sans-v12-latin-800.woff2') format('woff2'); 
}

/* Inconsolata */
@font-face {
  font-display: swap;
  font-family: 'Inconsolata';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/inconsolata-v37-latin-regular.woff2') format('woff2');
}

/* Figtree */
@font-face {
  font-display: swap;
  font-family: 'Figtree';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/figtree-v9-latin-regular.woff2') format('woff2');
}

@theme {
  --font-jakarta: 'Plus Jakarta Sans', sans-serif;
  --font-inconsolata: 'Inconsolata', monospace;
  --font-figtree: 'Figtree', sans-serif;

  --color-primary: var(--site-primary);
  --color-secondary: var(--site-secondary);
  --color-tertiary: var(--site-tertiary);
  --color-accent: var(--site-accent);
  --color-accent-2: var(--site-accent-2);
}

@layer base {
  h1 {
    @apply
    mb-5
    font-bold
    font-jakarta
    text-accent
    animate-[fadeInUp_1s_ease]
    text-[1.5rem]
    md:text-[2.5rem]
    lg:text-[4rem]
  }

  section {
    @apply
    container
    mx-auto
    xl:max-w-[1300px]
  }
  
}

@layer components {
  .button {
    @apply
    rounded-full
    px-6 py-2
    lg:text-xl
    text-center
    font-figtree
    font-semibold
    text-primary
    transition-all duration-300
    hover:-translate-y-[3px]
    hover:shadow-[0_10px_20px_rgba(0,0,0,0.2)]
  }

  .icon-link {
    @apply 
    p-1
    flex size-[38px]
    items-center justify-center
    rounded-full
    border border-tertiary
    text-tertiary
    transition-all duration-250
    hover:-translate-y-[3px]
    hover:border-accent
    hover:text-accent
  }
}

:root {
  --site-primary: hsl(220, 20%, 97%);
  --site-secondary: hsl(220, 15%, 15%);
  --site-tertiary: hsl(220, 10%, 45%);
  --site-accent: hsl(355.75, 69.4%, 56%);
  --site-accent-2: hsl(0, 0%, 25.1%);
}

.dark {
  --site-primary: hsl(222.86, 13.73%, 10%);
  --site-secondary: hsl(222.86, 13.73%, 90%);
  --site-tertiary: hsl(223.85, 12.15%, 58.04%);
  --site-accent: hsl(355.75, 69.4%, 64.12%);
  --site-accent-2: hsl(0, 0%, 25.1%);
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}